<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.upstudy.crm.mapper.echartsMapper">

    <resultMap id="BaseResultMap" type="top.upstudy.crm.pojo.Province">
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="nums"  jdbcType="INTEGER" property="nums" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select name,nums from province
    </select>

</mapper>